/* asdf */

/* HOME */

h2 {
    text-align: left;
    color: #555;
    margin: 0;
    /* margin-bottom: 5px; */
}

br {
    height: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

input:focus {
    outline: none;
    border-color: #0066cc;
}

.link {
    color: #0066cc;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.link:hover {
    color: #004080;
    text-decoration: underline;
}

.link-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* margin-top: 1.5rem; */
}

.link-list__item {
    margin-bottom: 0.3rem;
}

.page-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px;
    font-family: 'Arial, sans-serif';
}

.card-container {
    display: flex;
    /* justify-content: space-around; */
    justify-content: left;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
    padding-left: 7px;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    /* Adds gap between buttons */
    width: 100%;
    /*NEW*/
}

.container1 {
    max-width: 600px;
    margin: 0 auto;
    /* margin-top: 1rem; */
    padding: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container2 {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin: 0 auto;
}

.button-container--raw {
    margin: 0 auto;
    padding: 1rem;
    /* BOOKMARK */
}

.button {
    flex: 1;
    padding: 7px 11px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    max-width: 150px;
}

.button--blue {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    /* padding: 0.75rem;
    font-size: 1rem; */
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin: 0 auto;
}

.button--blue:hover {
    background-color: #0056b3;
}

/* TABLES */
.table {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10px;
}

.table__column1 {
    flex: 1;
}

.table__column2 {
    display: flex;
    justify-content: flex-end;
}



/* SEARCH */
.search-form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding-top: 9px;
  }
  
  .search-input-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .search-input {
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
  }
  
  .search-button {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: #007bff;
    font-size: 18px;
  }
  
  .search-button:hover {
    color: #0056b3;
  }

/* ./client/src/styles/Login.css */

.login__button:hover {
    background-color: #333;
}

.settings-menu {
    display: flex;
    flex-direction: row;
    position: relative;
}

.settings-button {
    color: white;
    background: none;
    border: none;
    font-size: 1.5rem;
    /* text-shadow: */
        /* 0 0 1px rgba(255, 255, 255, 0.9), */
        /* 0 0 2px rgba(255, 255, 255, 0.7), */
        /* 0 0 3px rgba(255, 255, 255, 0.5), */
        /* 0 0 4px rgba(51, 51, 51, 0.2), */
        /* 0 0 5px rgba(51, 51, 51, 0.1); */
}



.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.dropdown-menu a {
    padding: 5px 0;
    text-decoration: none;
    color: #333;
}

.title {
    font-weight: bold;
    font-size: 1.2rem;
    margin: auto;
}

.subtitle {
    margin: auto;
    padding: 7px 1rem;
    text-align: left;
}

/* ICON-NAV-HEADER */
/* ./client/src/styles/IconNavHeader.css */

.icon-nav-header {
    display: flex;
    background-color: #333;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    /* padding: ??? */
}

.icon-nav-header i {
    padding: 5px;
}

.icon-container {
    display: flex;
}

.icon-group {
    display: flex;
}

.icon-group a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    margin-right: 20px;
    transition: color 0.3s ease;
}

.icon-group a:hover {
    color: darkgray;
}

.icon-nav-header .login-button {
    /* margin-left: auto; */
}

.icon-nav-header .login-link {
    background-color: slategrey;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 10px;
    font-size: 1em;
    transition: background-color 0.3s ease;
    white-space: nowrap;
}

.icon-nav-header .login-link:hover {
    background-color: #0077cc;
}



.login-button {
    /* text-align: right; */
}

.login-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.hamburger-menu {
    position: relative;
}

.hamburger-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.dropdown-menu a {
    padding: 5px 0;
    text-decoration: none;
    color: #333;
}

.title {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    /* text-shadow:
        0 0 1px rgba(255, 255, 255, 0.9),
        /* 0 0 2px rgba(255, 255, 255, 0.7), */
        /* 0 0 3px rgba(255, 255, 255, 0.5), */
        /* 0 0 4px rgba(51, 51, 51, 0.2), */
        /* 0 0 5px rgba(51, 51, 51, 0.1);  */
}

.login-button {
    /* text-align: right; */
}

.login-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Responsive design */
@media (max-width: 768px) {
    .icon-nav-header {
        justify-content: space-between;
    }

    .icon-container {
        flex-wrap: wrap;
        justify-content: space-between;
        width: calc(100% - 100px);
    }

    .icon-group {
        width: 100%;
        justify-content: left;
        /* margin-bottom: 10px; */
    }

    .icon-group a {
        margin-right: 0;
    }

    .icon-nav-header .login-button {
        display: flex;
        align-items: flex-start;
        /* margin-left: auto; */
    }

    .container1 {
        padding: 1rem;
    }

    .button {
        width: 150px;
    }
}


@media (max-width: 480px) {
    .icon-nav-header {
        justify-content: space-between;
    }

    .icon-container {
        /* width: 100%; */
        /* margin-bottom: 10px; */
    }

    .icon-group {
        /* justify-content: center; */
    }

    .icon-nav-header .login-button {
        /* margin-left: 0;
      width: 100%;
      justify-content: center; */
    }

    /* .icon-nav-header .login-link {
      display: block;
      text-align: center;
    } */
}